<div class="p-3">
    <div class="d-sm-flex flex-sm-nowrap">
        <div class="col-sm-6 m-0 p-0">
            <h4 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('declarant')"><i class="fa fa-user"></i> Identifier le requerant</h4>
            <div *ngIf="declarant">
                <app-view-personne-box [personne]="declarant" [title]="'REQUERANT'"></app-view-personne-box>
            </div>
        </div>
        
        <div class="col-sm-6 m-0 p-0">
            <h4  class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('interprete')"><i class="fa fa-user"></i> Identifier l'interprete</h4>
            <div *ngIf="interprete">
                <app-view-personne-box [personne]="interprete" [title]="'INTERPRETE'"></app-view-personne-box>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="langue">Langue</label>
        <input type="text" [(ngModel)]="data.langue" class="form-control rounded-0" id="langue">
      </div>
    
    <div class="form-group form-check my-1">
        <input type="checkbox" [(ngModel)]="isBeneficiaire" (chaange)="isBeneficiaire = !isBeneficiaire" class="form-check-input" id="isParentDdirect">
        <label class="form-check-label" for="isParentDdirect">Le déclarant est le bénéficiaire ou un parent direct</label>
    </div>
    <input *ngIf="!isBeneficiaire" [(ngModel)]="data.fkProcuration"  type="text" name="procuration" id="procuration" placeholder="Veuillez renseigner le numéro de la procuration" class="form-control rounded-0 my-1">
    <select name="" id="" class="form-control rounded-0 my-1" [(ngModel)]="data.type" (change)="isPayant()">
        <option value="">Selectionner un type d'acte</option>
        <option *ngFor="let procedure of procedures" value="{{procedure.type}}">{{procedure.description}}</option>
    </select>
    
    <input type="text" name="preuvePaiement" *ngIf="isPayant()" [(ngModel)]="data.preuvePaiement" id="preuvePaiement" placeholder="Veuillez renseigner le preuve de paiement" class="form-control rounded-0 my-1">

    <button type="button" class="btn btn-primary rounded-0 col-sm-12 mt-3" (click)="next()">Suivant</button>
</div>