<div class="col-sm-12 p-0">
    <div class="row">
        <div class="col-sm-12 p-0 d-flex">
            <button mat-button [routerLink]="['edit']" [replaceUrl]="true" class=" bg bg-white border rounded-0 my-1">Editer attestation</button>
            <button mat-button [routerLink]="['list']" [replaceUrl]="true" class=" bg bg-white border rounded-0 my-1">Liste attestation</button>
        </div>
        <div class="col-sm-12 mt-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>