<div class="col-sm-12 p-3">
    <div class="row p-3">
        <div class="col-sm-3 py-3 mr-1 border shadow-sm">
            <h1 class="col-sm-12 title text-center" style="margin: 0;">** MENU **</h1>
            <hr class="px-3" style="margin: 0;">
            <button mat-button [routerLink]="['procuration']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Procuration</button>
            <button mat-button [routerLink]="['attestation']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Attestation</button>
            <button mat-button [routerLink]="['archives']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Consulter Archives</button>
        </div>
        <div class="col-sm-8 py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>