<div class="col-sm-12 p-0 bg bg-white mt-0 pt-0">
    <form (ngSubmit)="onFilter()" #form="ngForm" class="form-inline p-3 flex-sm-nowrap">
        <span for="colFormLabelSm" class=" px-1 text-right col-form-label col-form-label-sm">Debut: </span>
        <input type="date" name="lklk" [(ngModel)]="data.dateDebut" class="form-control ml-1 mr-3 rounded-0 form-control-sm" >
        <span for="colFormLabelSm" class="px-1 text-right col-form-label col-form-label-sm">Fin: </span>
        <input type="date" name="dfkl" [(ngModel)]="data.dateFin" class="form-control ml-1 rounded-0 form-control-sm" >
        <span for="colFormLabelSm" class="px-1 text-right col-form-label col-form-label-sm">Type: </span>
        <select name="cvcv" class="form-control ml-1 col-sm-2 rounded-0 form-control-sm" [(ngModel)]="data.type" >
            <option value="ACTE DE NAISSANCE">ACTE DE NAISSANCE</option>
            <option value="ACTE DE DECES">ACTE DE DECES</option>
            <option value="ACTE DE MARIAGE">ACTE DE MARIAGE</option>
            <option value="ATTESTATION DE NAISSANCE">ATTESTATION DE NAISSANCE</option>
            <option value="ATTESTATION DE DECES">ATTESTATION DE DECES</option>
            <option value="PROCURATION DE NAISSANCE">PROCURATION DE NAISSANCE</option>
            <option value="PROCURATION DE DECES">PROCURATION DE DECES</option>
            <option value="PROCURATION PROCURATION">PROCURATION SPECIALE</option>
        </select>
        <select name="lklk" class="form-control ml-1 col-sm-2 rounded-0 form-control-sm" [(ngModel)]="data.imprimer">
            <option value="true">IMPRIME</option>
            <option value="false">NON-IMPRIME</option>
        </select>
        <button type="submit" class="btn btn-sm btn-primary rounded-0 col-sm-2 ml-3">Filtrer</button>
    </form>
    <!-- <app-table-declarations [declarations]="declarations"></app-table-declarations> -->
</div>