<div class="p-3 bg bg-white">
    <h3 class="text-center">ARCHIVAGE DOCUMENTS</h3>
    <hr>
    <div class="col-sm-12 my-1" *ngFor="let document of documentRequests; index as i">
        <div class="col-sm-12 d-flex my-1 justify-content-start">
            <span class="col-sm-4 text-right">{{document.description}} <span *ngIf="document.isObligatoire" class="text-danger">*</span>:</span>
            <input type="text" [(ngModel)]="documentRequests[i].numeroRef" name="" id="" class="form-control form-control-sm col-sm-2 rounded-0" placeholder="Numero Réf">
            <span class="col-sm-2">Date </span>
            <input type="date"  [(ngModel)]="documentRequests[i].dateDocument" name="" id="" class="form-control form-control-sm col-sm-2 rounded-0">
            <button class="mx-1" mat-raised-button color="primary" (click)="addFile(i)">Upload fichier</button>
        </div>
        <div class="col-sm-12 bg bg-light p-3 my-1" *ngIf="uploadFileFordeclarationRequestItem[i].files.length > 0">
            <h4 style="padding: 0; margin: 0;"> Fichiers {{document.description}}</h4>
            <hr style="padding: 0; margin: 0;">
            <span class="d-block" *ngFor="let file of uploadFileFordeclarationRequestItem[i].files; index as j">{{document.description}} - {{j + 1}}</span>
        </div>
    </div>
    <div class="btn btn-primary col-sm-12 rounded-0" (click)="next()">Terminer</div>
    <div class="btn btn-secondary col-sm-12 my-2 rounded-0">Retour</div>
</div>