<div class="col-sm-12">
    <div class="form-group">
        <label for="exampleFormControlFile1">SELECTIONNER LE FICHER</label>
        <input type="file" class="form-control-file" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files)" id="exampleFormControlFile1">
    </div>
    <div class="btn btn-primary rounded-0 d-block" (click)="btnUpload()">Valider</div>
</div>