<div class="col-sm-12">
    <h1 class="title text-center">CREATION DECLARATION</h1>
    <hr class="px-3">
    <div class="col-sm-12 p-0 bg bg-white">
        <router-outlet></router-outlet>
    </div>
</div>