<div class=" col-sm-12 p-0">
    <div class="col-sm-12" *ngIf="declarations">
        <input type="text" [(ngModel)]="motclef" (keyup)="onFilterChange();" name="" id="" class="form-control form-control-sm rounded-0" placeholder="Entrer le mot clé">
        <table class="table table-hover table-sm mt-3">
            <thead class="border-0" >
                <th class="border-0">Numero</th>
                <th class="border-0">Beneficiaire</th>
                <th class="border-0">TYPE DOCUMENT</th>
                <th class="border-0">Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let datum of filterData()">
                    <td class="border-0">{{datum.numero}}</td>
                    <td class="border-0">{{datum.beneficiaire.nom}} {{datum.beneficiaire.postnom}} {{datum.beneficiaire.prenom}}</td>
                    <td class="border-0">{{datum.type}}</td>
                    <td class="border-0">{{datum.dateCreat | date:'dd MMM yyyy'}}</td>
                    <td class="border-0">
                        <button (click)="openDialog(datum)" mat-raised-button class="col-sm-12 rounded-0" color="primary"><i class="fa fa-edit"> </i> Consulter</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>