<div class="p-3 shadow-sm">
    <div class=" d-sm-flex flex-sm-wrap justify-content-between">
        <div class="col-sm-4">
            <h4 class="p-1 font-weight-bold my-1 border border-dark cursor bg bg-light" (click)="openIdentificationDialog('pere')"><i class="fa fa-user"></i>Le père de l'enfant<span class="text-danger">*</span></h4>
            <div *ngIf="procuration.pere">
                <app-view-personne-box [personne]="procuration.pere" [title]="'IDENTITE DU PERE DE L\'ENFANT'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="p-1  font-weight-bold border border-dark my-1 cursor bg bg-light" (click)="openIdentificationDialog('mere')"><i class="fa fa-user"></i> La mère de l'enfant<span class="text-danger">*</span></h4>
            <div *ngIf="procuration.mere">
                <app-view-personne-box [personne]="procuration.mere" [title]="'IDENTITE DE LA MERE DE L\'ENFANT'"></app-view-personne-box>
            </div>
        </div>
        
        <div class="col-sm-4">
            <h4 class="p-1  font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('enfant')"><i class="fa fa-user"></i> Identifier l'enfant<span class="text-danger">*</span></h4>
            <div *ngIf="procuration.enfant">
                <app-view-personne-box [personne]="procuration.enfant" [title]="'IDENTITE DE L\'ENFANT'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="p-1  font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('interesse')"><i class="fa fa-user"></i> L'interesse<span class="text-danger">*</span></h4>
            <div *ngIf="procuration.interessePersonne">
                <app-view-personne-box [personne]="procuration.interessePersonne" [title]="'IDENTITE DE L\'INTERESSE'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="p-1  font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('mandataire')"><i class="fa fa-user"></i> Le mandataire<span class="text-danger">*</span></h4>
            <div *ngIf="procuration.mandatairePersonne">
                <app-view-personne-box [personne]="procuration.mandatairePersonne" [title]="'IDENTITE DU MANDATAIRE'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="p-1 font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('personneContact')"><i class="fa fa-user"></i> Personne à contacter<span class="text-danger">*</span></h3>
            <div *ngIf="procuration.personneContactPersonne">
                <app-view-personne-box [personne]="procuration.personneContactPersonne" [title]="'PERSONNE A CONTACTER'"></app-view-personne-box>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="dateNaissance">Numero de la preuve de paiement<span class="text-danger"></span></label>
        <input type="text" [(ngModel)]="procuration.preuvePaiement" class="form-control rounded-0" id="dateNaissance" aria-describedby="dateNaissanceHelp">
        
    </div>
    <div class="form-group">
        <label for="dateNaissance">Date du divorce<span class="text-danger"></span></label>
        <input type="date" [(ngModel)]="procuration.dateDivorce" class="form-control rounded-0" id="dateNaissance" aria-describedby="dateNaissanceHelp">
        <small id="dateNaissanceHelp" class="form-text text-muted">La date du divorce des parents</small>
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Situation matrimoniale<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="procuration.situationMatrimoniale" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
        <small id="lieuNaissanceHelp" class="form-text text-muted">La situation matrimoniale</small>
    </div>
    
    <button class="btn btn-primary rounded-0 col-sm-12 my-1" (click)="valider()">Valider</button>
</div>