
<div class="col-sm-12 d-sm-flex p-5 justify-content-around flex-wrap" @fade>
    <mat-card class="col-sm-3 shadow mr-4  mt-4" *ngIf="hasRight(['admin', 'prepose', 'redacteur', 'oec'])">
        <h1 class="text-center title p-1" style="margin: 0;">DECLARATION</h1>
        <mat-card-content>
            <img src="assets/images/file.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button routerLink="declaration" class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4" *ngIf="hasRight(['admin', 'impression'])">
        <h1 class="text-center title p-1" style="margin: 0;">IMPRESSION</h1>
        <mat-card-content>
            <img src="assets/images/printer.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button routerLink="impression"  class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4" *ngIf="hasRight(['admin', 'finance'])">
        <h1 class="text-center title p-1" style="margin: 0;">FINANCE & ADMIN</h1>
        <mat-card-content>
            <img src="assets/images/finance.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4" *ngIf="hasRight(['admin', 'archivage', 'prepose'])">
        <h1 class="text-center title p-1" style="margin: 0;">ARCHIVAGE ET AUTRES</h1>
        <mat-card-content>
            <img src="assets/images/archive.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button routerLink="archivage-autres" class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4" *ngIf="hasRight(['admin', 'oec'])">
        <h1 class="text-center title p-1" style="margin: 0;">RAPPORT SYSTEME</h1>
        <mat-card-content>
            <img src="assets/images/statistique.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-sm-3 shadow mr-4 mt-4" *ngIf="hasRight(['admin'])">
        <h1 class="text-center title p-1" style="margin: 0;">GESTION IT</h1>
        <mat-card-content>
            <img src="assets/images/gear.png" width="50%" class="mx-auto d-block" alt="">
            <p class="text-justify mt-3 mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis non at incidunt animi consequuntur possimus enim 
                aperiam maxime placeat sequi!
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
            <button mat-button class="btn btn-primary border col-sm-10 mx-auto rounded-0">Acceder</button>
        </mat-card-actions>
    </mat-card>
</div>