<div class="col-sm-12 p-0">
    <app-view-procuration-naissance [procuration]="procuration" *ngIf="type === 'PROCURATION DE NAISSANCE'"></app-view-procuration-naissance>
    <app-view-procuration-deces [procuration]="procuration" *ngIf="type === 'PROCURATION DE DECES'"></app-view-procuration-deces>
</div>