<div class="p-3 shadow-sm">
    <div class="d-sm-flex flex-sm-wrap">
        <div class="col-sm-4">
            <h4 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('epoux')"><i class="fa fa-user"></i> Identifier l'epoux<span class="text-danger">*</span></h4>
            <div *ngIf="epoux">
                <app-view-personne-box [personne]="epoux" [title]="'IDENTITE DE L\'EPOUX'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('epouse')"><i class="fa fa-user"></i> Identifier l'epouse<span class="text-danger">*</span></h4>
            <div *ngIf="epouse">
                <app-view-personne-box [personne]="epouse" [title]="'IDENTITE DE L\'EPOUSE'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center font-weight-bold my-1 border border-dark cursor bg bg-light" (click)="openIdentificationDialog('pereEpoux')"><i class="fa fa-user"></i> Identifier le père de l'epoux<span class="text-danger">*</span></h4>
            <div *ngIf="pereEpoux">
                <app-view-personne-box [personne]="pereEpoux" [title]="'IDENTITE DU PERE DE L\'EPOUX'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light" (click)="openIdentificationDialog('mereEpoux')"><i class="fa fa-user"></i> Identifier la mère de l'epoux<span class="text-danger">*</span></h3>
            <div *ngIf="mereEpoux">
                <app-view-personne-box [personne]="mereEpoux" [title]="'IDENTITE DE LA MERE DE L\'EPOUX'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center font-weight-bold my-1 border border-dark cursor bg bg-light" (click)="openIdentificationDialog('pereEpouse')"><i class="fa fa-user"></i> Identifier le père de l'epouse<span class="text-danger">*</span></h4>
            <div *ngIf="pereEpouse">
                <app-view-personne-box [personne]="pereEpouse" [title]="'IDENTITE DU PERE DE L\'EPOUSE'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light" (click)="openIdentificationDialog('mereEpouse')"><i class="fa fa-user"></i> Identifier la mère de l'epouse<span class="text-danger">*</span></h3>
            <div *ngIf="mereEpouse">
                <app-view-personne-box [personne]="mereEpouse" [title]="'IDENTITE DE LA MERE DE L\'EPOUSE'"></app-view-personne-box>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="dateNaissance">Date du mariage<span class="text-danger">*</span></label>
        <input type="date" [(ngModel)]="data.dateMariage" class="form-control rounded-0" id="dateNaissance" aria-describedby="dateNaissanceHelp">
        <!-- <small id="dateNaissanceHelp" class="form-text text-muted">Le jour de naissance de l'enfant</small> -->
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Lieu de publicité<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="data.lieuPublicite" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
        <!-- <small id="lieuNaissanceHelp" class="form-text text-muted">Le lieu de naissance de l'enfant</small> -->
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Regime matrimonial<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="data.regimeMatrimonial" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
        <!-- <small id="lieuNaissanceHelp" class="form-text text-muted">Le lieu de naissance de l'enfant</small> -->
    </div>

    <button class="btn btn-primary rounded-0 col-sm-12 my-1" (click)="next()">Suivant</button>
    <button class="btn btn-secondary rounded-0 col-sm-12 my-1">Retour</button>
</div>