<div class="d-flex">
    <div class="btn btn-sm btn-danger border-dark rounded-0 ml-auto" mat-dialog-close><i class="fa fa-times"></i></div>
</div>
<div class="col-sm-12 pb-3 bg bg-light" >
    <h2 class="text-center font-weight-bold title">FORMULAIRE D'ENREGISTREMENT</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="col-sm-12 p-0">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="nom" class="form-control-label">Nom</label>
                <input type="text" name="nom" id="nom" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-4">
                <label for="postnom" class="form-control-label">Postnom</label>
                <input type="text" name="postnom" id="postnom" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-4">
                <label for="prenom" class="form-control-label">Prenom</label>
                <input type="text" name="prenom" id="prenom" class="form-control rounded-0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="sexe" class="form-control-label">Sexe</label>
                <select name="postnom" id="sexe" class="form-control rounded-0">
                    <option value="M">Homme</option>
                    <option value="F">Femme</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="lieuNaissance" class="form-control-label">Lieu de Naissance</label>
                <input type="text" name="lieuNaissance" id="lieuNaissance" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-4">
                <label for="dateNaissance" class="form-control-label">Date de naissance</label>
                <input type="date" name="dateNaissance" id="dateNaissance" class="form-control rounded-0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="etatCivil" class="form-control-label">Etat civil</label>
                <select name="etatCivil" id="etatCivil" class="form-control rounded-0">
                    <option value="MARIE">Marié</option>
                    <option value="CELIBATAIRE">Celibataire</option>
                    <option value="DIVORCE">Divorcé</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="telephone" class="form-control-label">Téléphone</label>
                <input type="tel" name="telephone" id="telephone" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-4">
                <label for="email" class="form-control-label">Adresse mail</label>
                <input type="email" name="email" id="email" class="form-control rounded-0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="profession" class="form-control-label">Profession</label>
                <input type="text" name="profession" id="profession" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-8">
                <label for="adresse" class="form-control-label">Adresse Domcile</label>
                <input type="text" name="adresse" id="adresse" class="form-control rounded-0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomPere" class="form-control-label">Nom du père</label>
                <input type="text" name="nomPere" id="nomPere" class="form-control rounded-0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="nomMere" class="form-control-label">Nom de la mère</label>
                <input type="text" name="nomMere" id="nomMere" class="form-control rounded-0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="province" class="form-control-label">Province</label>
                <input type="text" name="province" id="province" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-3">
                <label for="district" class="form-control-label">District</label>
                <input type="text" name="District" id="district" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-3">
                <label for="secteur" class="form-control-label">Secteur</label>
                <input type="text" name="secteur" id="secteur" class="form-control rounded-0">
            </div>
            <div class="form-group col-sm-3">
                <label for="groupement" class="form-control-label">Groupement</label>
                <input type="text" name="groupement" id="groupement" class="form-control rounded-0">
            </div>
        </div>
        <div class="row col">
            <button type="submit" class="btn btn-primary col-sm-4 rounded-0 mr-2">Enregistrer</button>
            <button type="button" mat-dialog-close class="btn btn-danger col-sm-4 rounded-0">Annuler</button>
        </div>
    </form>
</div>