<div class="p-3 shadow-sm">
    <div class=" d-sm-flex flex-sm-wrap justify-content-between">
        <div class="col-sm-4">
            <h4 class="p-1 font-weight-bold my-1 border border-dark cursor bg bg-light" (click)="openIdentificationDialog('pere')"><i class="fa fa-user"></i>Le père de l'enfant<span class="text-danger">*</span></h4>
            <div *ngIf="attestation.pere">
                <app-view-personne-box [personne]="attestation.pere" [title]="'IDENTITE DU PERE DE L\'ENFANT'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="p-1  font-weight-bold border border-dark my-1 cursor bg bg-light" (click)="openIdentificationDialog('mere')"><i class="fa fa-user"></i> La mère de l'enfant<span class="text-danger">*</span></h4>
            <div *ngIf="attestation.mere">
                <app-view-personne-box [personne]="attestation.mere" [title]="'IDENTITE DE LA MERE DE L\'ENFANT'"></app-view-personne-box>
            </div>
        </div>
        
        <div class="col-sm-4">
            <h4 class="p-1  font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('enfant')"><i class="fa fa-user"></i> Identifier l'enfant<span class="text-danger">*</span></h4>
            <div *ngIf="attestation.enfant">
                <app-view-personne-box [personne]="attestation.enfant" [title]="'IDENTITE DE L\'ENFANT'"></app-view-personne-box>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="dateNaissance">Numero de la preuve de paiement<span class="text-danger"></span></label>
        <input type="text" [(ngModel)]="attestation.preuvePaiement" class="form-control rounded-0" id="dateNaissance" aria-describedby="dateNaissanceHelp">
        
    </div>
    <div class="form-group">
        <label for="dateNaissance">Date de naissance<span class="text-danger"></span></label>
        <input type="date" [(ngModel)]="attestation.dateNaissance" class="form-control rounded-0" id="dateNaissance" aria-describedby="dateNaissanceHelp">
        <small id="dateNaissanceHelp" class="form-text text-muted">La date de naissance de l'enfant</small>
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Lieu de naissance<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="attestation.lieuNaissance" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
        <small id="lieuNaissanceHelp" class="form-text text-muted">Le lieu de naissance de lenfant </small>
    </div>
    
    <button class="btn btn-primary rounded-0 col-sm-12 my-1" (click)="valider()">Valider</button>
</div>