<div class="col-sm-12 p-3">
    <div class="row p-3">
        <div class="col-sm-3 py-3 mr-1 border shadow-sm">
            <h1 class="col-sm-12 title text-center" style="margin: 0;">** MENU **</h1>
            <hr class="px-3" style="margin: 0;">
            <button mat-button [routerLink]="['new']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Nouvelle déclaration</button>
            <button mat-button [routerLink]="['avis']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Aviser déclaration</button>
            <button mat-button [routerLink]="['authentifier']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Authentifier déclaration</button>
            <button mat-button class="w-100 bg bg-white border rounded-0 my-1">Rapport d'activités</button>
        </div>
        <div class="col-sm-8 py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>