<div class="col-sm-12">
    <select name="" [(ngModel)]="data" id="" class="form-control col-sm-12 form-control-sm rounded-0" (change)="onSelectType()">
        <option value="">SELECTIONNER LE TYPE DE PROCURATION</option>
        <option value="PROCURATION DE NAISSANCE">PROCURATION DE NAISSANCE</option>
        <option value="PROCURATION DE DECES">PROCURATION DE DECES</option>
        <option value="PROCURATION SPECIALE">PROCURATION SPECIALE</option>
    </select>
    <div class="col-sm-12 p-0 mx-0 mt-1">
        <router-outlet></router-outlet>
    </div>
</div>