<div class="col-sm-12 p-0" *ngIf="declaration">
    <h3 class="text-center font-weight-bold">ACTE DE NAISSANCE N° {{acte.numero}}</h3>
    <p class="text-justify col-sm-12">
        L'an deux mille {{declaration.dateCreat | date:'yy'}} le {{declaration.dateCreat | date:'dd'}} du mois de {{acte.dateCreat | date:'MMM'}}
        Par devant nous {{declaration.oec?.personne.nom}} {{declaration.oec?.personne.nom}} {{declaration.oec?.personne.prenom}}
        Officier de l'état civil de ........... a comparu {{declaration.requerant?.nom}} {{declaration.requerant?.postnom}} {{declaration.requerant?.prenom}}
        en qualité de ........... né(e) à {{declaration.requerant.lieuNaissance}} 
        profession {{declaration.requerant?.profession}} résidant à {{declaration.requerant?.adresse}} 
        Lequel(laquelle) nous a declaré ce qui suit: <br>
        Le {{acte.dateNaissance | date:'dd'}} du mois de {{acte.dateNaissance | date:'MMM'}} de l'année {{acte.dateCreat | date:'yy'}} 
        est né à {{acte?.lieuNaissance}} un enfant de sexe {{declaration.beneficiaire?.sexe}} nommé {{declaration.beneficiaire?.nom}} {{declaration.beneficiaire?.postnom}} {{declaration.beneficiaire?.prenom}} 
        fils(fille) de ...
    </p>
</div>