<div class="col-sm-12">
    <select name="" [(ngModel)]="data" id="" class="form-control col-sm-12 form-control-sm rounded-0" (change)="onSelectType()">
        <option value="">SELECTIONNER LE TYPE DE ATTESTATION</option>
        <option value="ATTESTATION DE NAISSANCE">ATTESTATION DE NAISSANCE</option>
        <option value="ATTESTATION DE DECES">ATTESTATION DE DECES</option>
        <option value="ATTESTATION DE MARIAGE">ATTESTATION DE MARIAGE</option>
        <option value="ATTESTATION SPECIALE">ATTESTATION SPECIALE</option>
    </select>
    <div class="col-sm-12 p-0 mx-0 mt-1">
        <router-outlet></router-outlet>
    </div>
</div>