<div class="col-sm-12 p-3">
    <div class="row p-3 flex-sm-nowrap">
        <div class="col-sm-3 py-3 mr-1 border shadow-sm">
            <h1 class="col-sm-12 title text-center" style="margin: 0;">** MENU **</h1>
            <hr class="px-3" style="margin: 0;">
            <button mat-button [routerLink]="['imprimer']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Imprimer document</button>
            <button mat-button [routerLink]="['rapport']" [replaceUrl]="true" class="w-100 bg bg-white border rounded-0 my-1">Rapport d'activités</button>
        </div>
        <div class="col-sm-9 py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>