<div class="col-sm-12">
    <h1 class="text-center font-weight-bold" style="font-size: 56px;"><i class="fa fa-check-circle text-success"></i></h1>
    <p class="col-sm-12">{{message}}</p>
    <div class="d-flex justify-content-around">
        <button class="btn btn-primary btn-sm rounded-0" mat-dialog-close>OK</button>
    </div>
</div>