<!-- <mat-card class="shadow-sm border">
    <mat-card-content>
        <h3 class="font-weight-bold m-0 p-0">{{title}}</h3>
        <hr style="margin: 0;">
        <table class="table col-sm-12">
            <tbody>
                <tr>
                    <td class="col-6">{{personne.nom}} {{personne.postnom}} {{personne.prenom}}</td>
                    <td class="col-6">SEXE: {{personne.sexe}}</td>
                </tr>
                <tr>
                    <td>ETAT CIVIL: {{personne.etatCivil}}</td>
                    <td>Contacts: {{personne.telephone}}/ {{personne.email}}</td>
                </tr>
                <tr>
                    <td colspan="2">{{personne.adresse}}</td>
                </tr>
            </tbody>
        </table>
        <h4 class="text-primary cursor"><i class="fa fa-plus"></i> Voir plus</h4>
    </mat-card-content>
</mat-card> -->
<div class="col-sm-12 p-0 rounded">
    <h3 class="font-weight-bold p-0 m-0">{{title}}</h3>
    <hr style="margin: 0;">
    <div class="">
        {{personne.nom}} {{personne.postnom}} {{personne.prenom}} <br>
        Sexe: {{personne.sexe}} Etat civil: {{personne.etatCivil}} <br>
        Contacts: {{personne.telephone}}/ {{personne.email}}
        <h4 class="text-primary cursor"><i class="fa fa-plus"></i> Voir plus</h4>
    </div>
</div>
