<div class="col-sm-12 p-0">
    <h3 class="text-center font-weight-bold">PROCURATION N° {{procuration.numero}}</h3>
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Sunt natus quam 
        repudiandae accusamus esse veritatis et 
        dignissimos, illo voluptates voluptas quasi 
        odit eius, quaerat debitis perspiciatis ullam 
        reprehenderit rem ut magnam voluptate incidunt 
        aut unde eveniet? Eveniet atque, velit asperiores 
        ullam provident voluptatum repellat doloremque alias, 
        nihil magnam veritatis earum.
    </p>
</div>