<div class="p-3 shadow-sm">
    <div class="d-sm-flex flex-sm-nowrap">
        <div class="col-sm-4">
            <h4 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light shadow-sm" (click)="openIdentificationDialog('beneficiaire')"><i class="fa fa-user"></i> Identifier du defunt<span class="text-danger">*</span></h4>
            <div *ngIf="beneficiaire">
                <app-view-personne-box [personne]="beneficiaire" [title]="'IDENTITE DU DEFUNT'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center font-weight-bold my-1 border border-dark cursor bg bg-light" (click)="openIdentificationDialog('pere')"><i class="fa fa-user"></i> Identifier le père<span class="text-danger">*</span></h4>
            <div *ngIf="pere">
                <app-view-personne-box [personne]="pere" [title]="'IDENTITE DU PERE DU DEFUNT'"></app-view-personne-box>
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center font-weight-bold border border-dark my-1 cursor bg bg-light" (click)="openIdentificationDialog('mere')"><i class="fa fa-user"></i> Identifier la mère<span class="text-danger">*</span></h3>
            <div *ngIf="mere">
                <app-view-personne-box [personne]=mere [title]="'IDENTITE DE LA MERE DU DEFUNT'"></app-view-personne-box>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="dateNaissance">Date du deces<span class="text-danger">*</span></label>
        <input type="date" [(ngModel)]="data.dateDeces" class="form-control rounded-0" id="dateNaissance" aria-describedby="dateNaissanceHelp">
        <!-- <small id="dateNaissanceHelp" class="form-text text-muted">Le jour de naissance de l'enfant</small> -->
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Lieu du deces<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="data.lieuDeces" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
        <!-- <small id="lieuNaissanceHelp" class="form-text text-muted">Le lieu de naissance de l'enfant</small> -->
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Etat civil du defunt<span class="text-danger">*</span></label>
        <select type="text" [(ngModel)]="data.etatCivil" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
            <option value="CELIBATAIRE">CELIBATAIRE</option>
            <option value="MARIE">MARIE</option>
        </select>
        <!-- <small id="lieuNaissanceHelp" class="form-text text-muted">Le lieu de naissance de l'enfant</small> -->
    </div>
    <div class="form-group">
        <label for="lieuNaissance">Circonstance du deces<span class="text-danger">*</span></label>
        <input type="text" [(ngModel)]="data.circonstance" class="form-control rounded-0" id="lieuNaissance" aria-describedby="lieuNaissanceHelp">
        <!-- <small id="lieuNaissanceHelp" class="form-text text-muted">Le lieu de naissance de l'enfant</small> -->
    </div>

    <button class="btn btn-primary rounded-0 col-sm-12 my-1" (click)="next()">Suivant</button>
    <button class="btn btn-secondary rounded-0 col-sm-12 my-1">Retour</button>
</div>