<div class="col-sm-12 bg bg-white p-0">
    <div class="d-flex">
        <div class="btn btn-sm btn-danger border-dark rounded-0 ml-auto" mat-dialog-close><i class="fa fa-times"></i></div>
    </div>
    <app-declaration-box *ngIf="declaration" [declaration]="declaration"></app-declaration-box>
</div>