<mat-toolbar class="bg bg-dark">
    <div class="d-flex col-12 justify-content-between">
        <div class="col-1 bg bg-white p-1 cursor" routerLink="/main">
            <img src="assets/images/logo.png" class="w-100" alt="">
        </div>
        <div class="my-auto ml-auto mr-0">
            <span class="text-white h6 cursor"><i class="fa fa-user"></i> {{user.personne.nom}} {{user.personne.postnom}} {{user.personne.prenom}}</span>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="col-sm-12">
    <p class="text-right font-weight-bold col-sm-11 pr-3 fixed-bottom text-danger">Allrights reserved Trinix Sarlu &copy;2020</p>
</div>
