<div class="d-flex">
    <div class="btn btn-sm btn-danger border-dark rounded-0 ml-auto" mat-dialog-close><i class="fa fa-times"></i></div>
</div>
<h2 class="text-center font-weight-bold mb-0">IDENTIFICATION DES PERSONNES</h2>
<div class="col-sm-12 d-flex p-0">
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="col-sm-10 form-inline p-0">
        <input type="text" name="motclef" id="motclef" [(ngModel)]="data.motclef" placeholder="Entrer le nom à rechercher" class="rounded-0 col-sm-9 form-control form-control-sm">
        <button type="submit" class="btn btn-sm btn-primary rounded-0 ml-2 col-sm-2"><i class="fa fa-search"></i> Rechercher</button>
    </form>
    <button class="btn btn-sm btn-secondary col-sm-2 ml-2 rounded-0 ml-auto" (click)="openSave()"><i class="fa fa-plus"></i> Nouveau</button>
</div>
<hr>
<div class="col-sm-12 p-0">
    <table class="table table-sm table-hover">
        <thead class="bg bg-primary table-bordered text-light text-center">
            <th class="col-3 border border-dark">NOMS</th>
            <th class="border border-dark">SEXE</th>
            <th class="border border-dark" >CONTACTS</th>
            <th class="col-2 border border-dark">DATE NAISS.</th>
            <th class="col-4 border border-dark border-right-0">ADRESSE</th>
            <th class="border border-dark border-left-0"></th>
        </thead>
        <tbody>
            <tr *ngFor="let personne of personnes">
                <td>{{personne.nom}} {{personne.postnom}} {{personne.prenom}}</td>
                <td>{{personne.sexe}}</td>
                <td>{{personne.telephone}} / {{personne.email}}</td>
                <td>{{personne.dateNaissance | date:'dd MMM yyyy'}}</td>
                <td>{{personne.adresse}}</td>
                <td>
                    <button (click)="onSelect(personne)" class="btn btn-sm btn-info border border-dark text-white rounded-0">SELECTIONNER</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>