/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: "Scout bold";
    src: url(assets/fonts/Scout-Bold.otf) format('opentype');
}

@font-face{
    font-family: "Scout light";
    src: url(assets/fonts/Scout-Light.otf) format('opentype');
}

@font-face{
    font-family: "Scout";
    src: url(assets/fonts/Scout-Regular.otf) format('opentype');
}

@font-face{
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: "Roboto light";
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: "Roboto bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo{
    opacity: 0.5;
}

.title{
    font-family: "Scout bold";
    text-transform: uppercase;
    letter-spacing: 5px;
}

.form-control:focus, .btn:focus, .btn:active{
    box-shadow: none;
}

.cursor{
    cursor: pointer;
}