<div class="col-sm-12 p-0 bg bg-white mt-0 pt-0">
    <form (ngSubmit)="onFilter()" #form="ngForm" class="form-inline p-3">
        <span for="colFormLabelSm" class=" px-1 text-right col-form-label col-form-label-sm">Date debut: </span>
        <input type="date" name="lklk" [(ngModel)]="data.dateDebut" class="form-control ml-1 mr-3 rounded-0 form-control-sm" >
        <span for="colFormLabelSm" class="px-1 text-right col-form-label col-form-label-sm">Date fin: </span>
        <input type="date" name="dfkl" [(ngModel)]="data.dateFin" class="form-control ml-1 rounded-0 form-control-sm" >
        <select name="cvcv" class="form-control ml-1 rounded-0 form-control-sm" [(ngModel)]="data.type" >
            <option value="">TOUS</option>
            <option value="AVISE">AVISE</option>
            <option value="NON-AVISE">NON-AVISE</option>
        </select>
        <button type="submit" class="btn btn-sm btn-primary rounded-0 col-sm-2 ml-3">Filtrer</button>
    </form>
    <app-table-declarations [declarations]="declarations"></app-table-declarations>
</div>