<div class="col-sm-12 pb-5" *ngIf="declaration" >
    <div class="d-flex">
        <div class="btn btn-sm btn-danger border-dark rounded-0 ml-auto" mat-dialog-close><i class="fa fa-times"></i></div>
    </div>
    <app-declaration-box [declaration]="declaration" class="col-sm-12"></app-declaration-box>
    <div class="btn btn-primary mt-3 col-sm-12 rounded-0 shadow" mat-dialog-close>Imprimer recepissé</div>
</div>